body {
  background-color: #93a0ae;
}
.App {
  text-align: center;
}
h1 {
  font-family: "Nabla", cursive;
  color: #020202;
  font-size: 2.4rem;
}
.reviews-list {
  display: flex;
  list-style-type: none;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  color: #eff0ec;
  margin: 30px, 0px;
  padding: 0px;
}
.review-card {
  border-radius: 5px;
  padding: 15px;
  background: #4f576a;
  width: 70%;
  margin: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.review-card:hover,
.review-card:active {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.review-card_h2 {
  font-size: 1.2rem;
  color: #ffffff;
}
.review-card_h3 {
  font-size: 0.8rem;
  color: #f7f8f6;
}
.review-card_h4 {
  font-size: 0.8rem;
  color: #f7f8f6;
}

.review-card_img {
  width: 100%;
  height: 55%;
  object-fit: cover;
}

.read-more {
  border: none;
  text-decoration: none;
}

.filter-form {
  margin-bottom: 0px;
}
.my-nav {
  margin: 20px;
  display: inline-flex;
  gap: 10px;
}

.nav-link {
  background-color: #312f3b;
  border: none;
  color: #f7f8f6;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  border-radius: 5px;
}
.single-article {
  background: #4f576a;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.single-review {
  margin-left: auto;
  margin-right: auto;

  width: 100%;
}
.single-review p {
  text-align: justify;
}
.single-review img {
  /* margin-top: 25px;

  width: 80%; */

  width: 100%;
  height: 55%;
  object-fit: cover;
}
.single-review h4 {
  text-align: center;
}

.comments-section {
  margin-top: 50px;
}

.comment-form {
  margin: 10px;
}
.comment-list {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #eff0ec;
  margin: 0;
  padding: 0px;
}
.comment-card {
  width: 90%;
}

.comment-card p {
  background: #312f3b;
  padding: 10px;
  margin: 0px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.comment-card .alert {
  background-color: #4e4e4e;
}
.comment-card h4,
h3 {
  font-size: small;
  margin: 5px;
}
.comment-card h4 {
  text-align: right;
}

.comment-card h3 {
  font-size: small;
  text-align: left;
}

.like-button {
  color: #eff0ec;
  background: none;
  font-size: large;
  border: none;
  cursor: pointer;
}
.like-button:hover {
  color: #bcbdba;
}

.login-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  color: #eff0ec;
  margin: 0;
  padding: 0px;
}
.login-list-item {
  border-radius: 5px;
  color: #2e2e2e;
  padding: 15px;
  background: #ffffff;
  width: 200px;
  height: 200px;
  margin: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.login-list-item h2:hover {
  color: rgb(119, 117, 117);
}
.login-list img {
  float: center;
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.login-list-item {
  cursor: pointer;
}

.not-logged-in {
  color: #bcbdba;
  margin: 40px;
}
.not-logged-in a {
  font-size: larger;
  color: #eff0ec;
}

.delete-btn {
  float: inline-end;
  display: inline-flex;
  all: unset;
  cursor: pointer;
}
