body {
  background-color: #464857;
}
.App {
  text-align: center;
}
h1 {
  font-family: "Cinzel", serif;
  color: #eff0ec;
}
.reviews-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.review-card {
  padding: 15px;
  background-color: #343641;
  width: 200px;
}
.reviews-list h2 {
  font-size: 1.2rem;
  color: #939196;
}
.reviews-list h3 {
  font-size: 0.8rem;
  color: #697f7c;
}
.reviews-list h4 {
  font-size: 0.8rem;
  color: #eff0ec;
}

.review-card img {
  float: center;
  width: 100%;
  height: 55%;
  object-fit: cover;
}

.read-more {
  border: none;
  text-decoration: none;
}

.MyNav {
  display: inline-flex;
  gap: 10px;
}

.nav-link {
  background-color: #8c8f8c;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
}

.single-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.single-review img {
  float: center;
  width: 50%;
  height: 100%;
  object-fit: cover;
}
